
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body {
			    position: relative;
			    font-family: Helvetica, Arial, sans-serif;
			    font-size: 14px;

			    width: 800px;
			    margin: 0 auto;
			    padding: 10px;
			    color: #333;
			}
			.main-title {
			    display: block;
			    color: #222;
			    font-size: 40px;
			    font-weight: bold;
			    text-align: center;
			    margin-bottom: 30px;
			    text-decoration: none;
			}

	</style>
	<title>Create A New Blog Post</title>
</head>
<body>
	<a href= "/"><h1 class='main-title'>CS 253 Blog</h1></a>
	<h2>new post</h2>
	<form method = "post">
		<label>Subject <br>
			<input type = "text" name = "subject">
		</label>
		<br><br>
		<label>Blog <br>
			<textarea rows = "10" cols = "50" name = "content"></textarea>
		</label>
		<br>
		<input type = "submit" value = "Submit">
		<br><br>
		<div class = "error">{{error}}</div>
	</form>
</body>
</html>